$primary-color:#072B73 ;
$secondary-color:#2678BF ;
$trirty-color:#6BB3F2 ;
$fourty-color:#D9C9BA;
$fivety-color:#D90D0D;


$text-title:#D9C9BA;
$text-secondary:#D9C9BA;

body{
    font-family: sans-serif;
}


.bg-primary-color{
    background-color: $primary-color;
}
.bg-secondary-color{
    background-color: $secondary-color;
}
.bg-trirty-color{
    background-color: $trirty-color;
}
.text-title{
    color: $text-title;
}
.background-btn{
    background-color: #D90D0D;
    color: $text-title;
}
