$primary-color:#072B73 ;
$secondary-color:#2678BF ;
$trirty-color:#6BB3F2 ;
$fourty-color:#D9C9BA;
$fivety-color:#D90D0D;


$text-title:#D9C9BA;
$text-secondary:#D9C9BA;

.bg-primary-color{
    background-color: $primary-color;
}
.text-title{
    color: $text-title;
}